.*{
  box-sizing: border-box;
}


.grid-container{
  margin-top: 20px;
  margin-bottom: 20px;
  width: 320px;
  height: 320px;
  display: grid;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-content: center;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto;

}

@media  {

}
.heading{
  text-decoration: underline;
}

.name{
  margin-top: 40px;
  margin-bottom: 0px;
}
.m-heading{
  margin-bottom: 0px;
}
.desig{
  margin-top: 0px;
}

.grid-item{
  width: 30px;
  height: 30px;
  background-color: white;
  border: 1px solid black;
  text-align: center;
  position: relative;
}

.ip{
  border-radius: 0px;
  text-align: center;
  height: 25px;
  width: 25px;
  font-size: 1.2em;
  border: 0px;
  text-transform: capitalize;

}

.bot{
  margin-left: 80%;
}

.txt{
  position: absolute;
  top: 1px;
  left: 2px;
  margin-top: 0px;
  font-size: 0.5em;
  color: red;
}
